{% extends 'proteome/base.html' %}
{% block content %}

<style>
  
table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
tr:nth-child(even) {
  background: #f1f7f8;  
}
th,
td {
  border: 1px solid #a0c8cf;
  padding: .75rem;
  text-align: center;
}
th {
  background: #74afb9;
  color: #fff;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

</style>

<div class="container">
  <div class="mt-5 row">
    <div class="col col-xl-12 col-lg-12">
      <div class="d-flex justify-content-center">
        <div>{{ ibaq_head|safe }}</div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="d-flex justify-content-end m-5">
          <a href="{% url 'proteome:download_ibaq' %}">
          <button type="button" class="btn btn-lg btn-success">
             <b> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg> </b><small>
            &nbsp;&nbsp;Download(.csv)</small>
            </button>
            </a>
        </div>
        </div>
    </div>  
</div>



{% endblock %}


